@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;600;800&display=swap');

body, html{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070a17;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}
#flipdown, #masons{
  position: absolute;
}
#flipdown{
  z-index: 3;
}
#masons{
  margin-top: 17rem;
}