#price-range {
  -webkit-appearance: none;
  appearance: none;
  width: 240px;
  height: 10px;
  border-radius: 18px;
}

#price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5FFF58;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.overflow-text {
  opacity: 0;
  font-weight: 600;
  line-break: strict;
  position: absolute;
  animation: notcoin 1s ease-in;
}

@keyframes notcoin {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 82, 28, 0.3);
  }
}
